extends layout

block content
  h1= title
  p Scarica qui tutte le tue sottoposizioni sulla piattaforma per il training italiano delle olimpiadi di Informatica CMS.unipi
  br
  p Inserisci l'Username e la password che usi su http://cms.di.unipi.it/ e clicca su download per scaricarle!


    div.loginform
      form(action='/',method='post')
        input(type="text" name="username" id ="user" placeholder="Enter Username")
        input(type="password" name="password" id ="pass" placeholder="Enter Password")
        input(type="submit" class="btn"   value="download")
