extends layout

block content
  h1= title
  p Scarica qui tutte le tue sottoposizioni sulla piattaforma per il training italiano delle olimpiadi di Informatica cms.unipi
  br
  p
    |  Inserisci l'Username e la password che usi su
    a(href='http://cms.di.unipi.it')  cms.di.unipi.it
    |  e clicca su download!
  div(class='error')


  div.loginform
    form(action='javascript:void(0);' method='post')
      input(type="text" name="username" id ="user" placeholder="Enter Username")
      input(type="password" name="password" id ="pass" placeholder="Enter Password")
      input(type="submit" class="btn" value="download")

  form(action='/download' method='post')
    input(type='text' name='hidUsername' id='hidUser' style='display:none')
    input(type='text' name='hidToken' id='hidTok' style='display:none')
    input(type='submit' id='hidButt' style='display:none')
